<header>
    <picture>
        <source srcset="/images/abstrakt-UXUI.webp" type="image">
        <source srcset="/images/abstrakt-UXUI.jpg" type="image">
        <img src="/images/abstrakt-UXUI.jpg" alt="Svart-vit bild med abstrakt konst med datorer">
    </picture>

    <h1>Laboration 3 - TypeScript</h1>

    <nav>
        <ul>
            <li><a routerLink="/">Startsida</a></li>
            <li><a routerLink="/varden">Konventering</a></li>
            <li><a routerLink="/arbete">Mitt arbete</a></li>
        </ul>
    </nav>
</header>
