<main>
    <section>
        <article>
            <h2>Konvertera från meter till fot</h2>

            <form (submit)="meterToFot($event)" class="formFot">
                <label>Antal meter: </label>
                <input type="number" [(ngModel)]="meter" name="meter" class="input">
                <button type="submit" class="submit">Räkna ut</button>
            </form>

            <p *ngIf="fotResultat" class="resultat">Fot: {{ fotResultat }}</p>
        </article>

        <article>
            <h2>Konvertera från fot till meter</h2>

            <form (submit)="fotToMeter($event)" class="formFot">
                <label>Antal fot: </label>
                <input type="number" [(ngModel)]="fotInput" name="fotInput" class="input">
                <button type="submit" class="submit">Räkna ut</button>
            </form>

            <p *ngIf="meterResultat" class="resultat">Meter: {{ meterResultat }}</p>
        </article>
    </section>

    <section>
        <article>
            <h2>Konvertera från Celsius till Fahrenheit</h2>

            <form (submit)="celciusToFarenheit($event)" class="formFot">
                <label>Grader i Celsius: </label>
                <input type="number" [(ngModel)]="celcius" name="celcius" class="input">
                <button type="submit" class="submit">Räkna ut</button>
            </form>

            <p *ngIf="farenheitResultat" class="resultat">Fahrenheit: {{ farenheitResultat }}</p>
        </article>

        <article>
            <h2>Konvertera från Fahrenheit till Celsius</h2>

            <form (submit)="farenheitToCelcius($event)" class="formFot">
                <label>Grader i Fahrenheit: </label>
                <input type="number" [(ngModel)]="farenheitInput" name="farenheitInput" class="input">
                <button type="submit" class="submit">Räkna ut</button>
            </form>

            <p *ngIf="celciusResultat" class="resultat">Celsius: {{ celciusResultat }}</p>
        </article>
    </section>
</main>
