h2 {
    font-size: 3rem;
    margin: 7.5vh 0 3vh 5vw;
}

p {
    font-size: 1.5rem;
    margin: 0 0 10vh 5vw;
    width: 50ch;
}

@media (max-width: 1024px) {
    p {
        text-align: center;
        margin: 0 auto 5vh auto;
        width: 80vw;
    }

    h2 {
        text-align: center;
        margin: 5vh auto 2.5vh auto;
    }
}