h2 {
    font-size: 3rem;
    margin: 7.5vh 0 3vh 5vw;
}

h3 {
    margin: 5vh 0 2vh 5vw;
    font-size: 2rem;;
}

p {
    font-size: 1.25rem;
    margin: 0 0 10vh 5vw;
    width: 60ch;
}

@media (max-width: 1024px) {
    h2, h3 {
        text-align: center;
        margin: 5vh auto 2vh auto;
    }

    p {
        text-align: center;
        margin: 0 auto 5vh auto;
        width: 80vw;
    }
}